@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap');

:root {
	--back_color: #f5f6fa;
	--word_color: #778ca3;
    --dramatic_color: #8e44ad;
    --dramatic_color_a: rgba(135, 0, 255, 0.12);
}

* {
	margin: 0px;
	padding: 0px;
	font-family: 'Poppins', sans-serif;
	font-weight: 600;
	color: var(--word_color);

body {
	background: var(--back_color);	
	display: flex;
	flex-direction: row;
}

.menu {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background: white;
	height: 100vh;
	width: 250px;
	border-radius: 0px 30px 30px 0px;
	box-shadow: 4px 0px 20px rgba(0,0,0,0.05)
	
}

.menu > .options_menu {
	justify-items: center;
}

.profile_info {
    margin-top: 10px;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.button_div {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.button_div > button {
    padding: 5px 17px;
    border-radius: 25px;
    border: none;
    background: #8e44ad;
    color: white;
    font-weight: 600;
    cursor: pointer;
    transition: 100ms ease;
}

.button_div > button:hover {
    box-shadow: 0px 0px 10px var(--dramatic_color);
}

h1 {
	font-size: 15px;
	line-height: 17px;
	margin-bottom: 5px;
	
}

.about > p {
	font-size: 10px;
}

.photo_profile {
	padding: 10px;
	height: 70px;
	border-radius: 50%;
}

.options_menu {
    display: flex;
    flex-direction: column;
	margin-bottom: 200px;

}

h2 {
    font-size: 18px;
    padding: 10px 40px;
    transition:300ms ease;
    cursor: pointer;
    
}

h2:hover {
    background: var(--dramatic_color_a);
    color: var(--dramatic_color);
    border-left: 10px solid var(--dramatic_color);
}

.social_media {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.social_media > svg {
    margin: 0px 10px;
    cursor: pointer;
    margin-bottom: 20px;

}

.social_media > svg;hover {
    border: 2px blue;
}


main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    width: 30vw;
    padding-left: 500px;
}

